<div class="row justify-content-center">
    <div class="text-center" *ngIf="isLoading">
        <loading-spinner></loading-spinner>
    </div>

    <div class="col-12 col-md-6" *ngIf="!isLoading">
        <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
        <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
        <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" ngModel required email>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6">
            </div>

            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ loginMode ? 'Login' : 'Signup'}}</button> |
                <button class="btn btn-primary" type="button" (click)="onChangeMode()">Switch To {{ loginMode ? 'Signup' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>
